@import "./fonts.css";
@import "./reset.css";
*{
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --blue-color: #08A6E4;
    --red-color:  #FB3B64;
    --green-color: #55DFB4;
}
.red{
    background-color: var(--red-color);
}
.blue{
    background-color: var(--blue-color);
}
.green{
    background-color: var(--green-color);
}
.font_raleway{
    font-family: 'Raleway', sans-serif;
}
.font_open{
    font-family: 'Open Sans', sans-serif;
}
.white_background{
    background-color: white;
}
.display_none{
    opacity: 0;
}
.circle{
    height: 63px;
    width: 63px;
    border-radius: 50px;
    position: relative;
}
/* header---------------------------------------------------------------------------------------------------- */
html{
    scroll-behavior: smooth;
}
header{
    background: white url(../../assets/Background.png) center bottom/115% no-repeat;
    width: 100%;
    height: 912px;
    z-index: 9;
}
section.header_panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 3;
}
img.menu{
    display: none;
}
h1.page_tittle{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: var(--blue-color);
    margin-left: 25px;
}
div.header_list_container{
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
ul.header_list{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 500px;
}
ul.header_list li{
    display: flex;
    align-items: center;
    height: 100%;
}
ul.header_list li a{
    display: flex;
    align-items: center;
    height: 70px;
    color: #A5A5A5;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 0 15px;
    letter-spacing: 3.2px;
}
ul.header_list li a:hover{
    color: black;
    border-bottom: 4px solid var(--blue-color);
}
section.header_section{
    padding-top: 200px;
    text-align: center;
    width: 100%;
}
section.header_section h1{
    font-size: 49px;
}
section.header_section p{
    font-size: 16px;
    margin: 20px 0 38px 0;
}
a.calculator_href{
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--blue-color);
    padding: 22px 157px 23px 157px;
    border-radius: 50px;
}
a.calculator_href:hover{
    padding: 25px 160px 26px 160px;
    transition: 0.1s;
    font-size: 18px;
    background-color: var(--red-color);
}
/* Basick Info Section------------------------------------------------------------------------------------------------- */
section.why_us_section{
    width: 100%;
    height: 531px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.why_us_section nav{
    width: 780px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.why_us_section nav h1{
    font-size: 36px;
    text-align: center;
}
div.why_us_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.red_circle::before{
    content: url(../../assets/Person.svg);
    position: absolute;
    right: -10px;
}
.blue_circle::before{
    content: url(../../assets/Eye.svg);
    position: absolute;
    right: -20px;
    bottom: 10px;
}
.green_circle::before{
    content: url(../../assets/Catalog.svg);
    position: absolute;
    right: -20px;
    bottom: 5px;
}
div.why_us_div article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.why_us_div article h5{
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 5.96px;
    padding: 14px 0 19px 0;
}
div.why_us_div p{
    color: #A5A5A5;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
/* Main section----------------------------------------------------------------------------------------------------- */
main{
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}
section.benefits_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 1124px;
}
section.benefits_section article{
    height: 370px;
    width: 1124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 37px;
}
div.article_insides{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div.article_insides{
    margin-left: 36px;
    margin-right: 20px;
}
.img_mackbook{
    width: 386px;
    height: 219px;
    display: flex;
    align-self: flex-end;
    margin: 0 118px 38px 0;
    z-index: 3;
}
section.benefits_section article:first-child::after{
    content: "";
    height: 200px;
    width: 200px;
    background-color: var(--red-color);
    position: absolute;
    transform: rotate(45deg);
    border-radius: 41px;
    z-index: 1;
    right: 8%;
    top: 20%;
}
img.img_iphone{
    width: 426px;
    height: 328px;
    display: flex;
    align-self: center;
    margin-left: 70px;
    z-index: 2;
}
section.benefits_section article:nth-of-type(2)::before{
    content: "";
    height: 320px;
    width: 320px;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    left: 70px;
    top: 12px;
}
img.img_trumpet{
    width: 296px;
    height: 208px;
}
div.article_insides h1{
    font-size: 36px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 42px;
}
div.article_insides p{
    width: 416px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
div.article_insides span.red{
    width: 300px;
    border-bottom: 4px solid var(--red-color);
    border-radius: 20px;
}
div.article_insides span.blue{
    width: 300px;
    border-bottom: 4px solid var(--blue-color);
    border-radius: 20px;
}
span.green{
    width: 300px;
    border-bottom: 4px solid var(--green-color);
    border-radius: 20px;
}
span.square{
    width: 440px;
    height: 370px;
    border-radius: 5px;
    background-color: var(--green-color);
}
section.benefits_section article:last-of-type div.article_insides{
    width: 623px;
    margin: 0;
    padding: 37px;
}
section.benefits_section article:last-of-type span{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Summary------------------------------------------------------------------------------------------------- */
section.prices_section{
    height: 1306px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
section.prices_section nav:first-of-type{
    width: 100%;
}
section.prices_section nav>h1{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 100px 0 50px 0;
}
div.priece_offers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.priece_offers article.red_color{
    height: 461px;
    width: 372px;
    border: 1px solid var(--red-color);
    border-radius: 18px;
    margin: 29px;
}
div.priece_offers article.blue_color{
    height: 461px;
    width: 372px;
    border: 1px solid var(--blue-color);
    border-radius: 18px;
    margin: 29px;
}
div.priece_offers article.green_color{
    height: 461px;
    width: 372px;
    border: 1px solid var(--green-color);
    border-radius: 18px;
    margin: 29px;
}
div.priece_offers article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    box-sizing: border-box;
}
div.priece_offers article h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 34px;
}
h1.red_dollar{
    color: var(--red-color);
}
h1.blue_dollar{
    color: var(--blue-color);
}
h1.green_dollar{
    color: var(--green-color);
}
div.priece_offers article h1{
    font-size: 46px;
    text-align: center;
    margin-top: 14px;
    line-height: 64px;
}
div.priece_offers article p{
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
div.priece_offers ul{
    margin-top: 50px;
}
div.priece_offers ul li{
   text-align: center;
   list-style-image: url(../../assets/Open.svg);
   list-style-position: inside;
   font-size: 14px;
   line-height: 41px;
}
div.priece_offers ul li.not{
    list-style-image: url(../../assets/Close.svg);
}
div.priece_offers article button{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 23px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 16px 57px;
    margin-top: 30px;
}
div.priece_offers a{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

div.priece_offers article:hover{
    width: 405px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    bottom: -50px;
    margin-top: 0;
    transition: 0.3s;
}
div.priece_offers article:hover button{
    position: absolute;
}
div.priece_offers article:hover ul{
    margin-bottom: 53px;
    margin-top: 61px;
    transition: 0.3s;
}
div.priece_offers article:hover p{
    margin-top: 5px;
}
div.priece_offers article:hover h1{
margin-top: 14px;
}
div.priece_offers article:hover h3{
    margin-top: 34px;
    font-size: 21px;
}
section.contact_section{
    width: 100%;
    display: flex;
    justify-content: center;
}
section.contact_section>div{
    margin-top: 155px;
    width: 896px;
    height: 372px;
    display: flex;
    flex-direction: row;
}
article.contact_side{
    width: 456px;
    height: 100%;
}
article.contact_side h1{
    font-size: 49px;
    line-height: 49px;
    text-align: left;
}
article.contact_side p{
    font-size: 16px;
    line-height: 22px;
    margin-top: 22px;   
}
span.contact_info{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
span.contact_info a{
    color: #A5A5A5;
    font-size: 16px;
    line-height: 22px;
    margin: 42px 20px 0 10px;
}
span.contact_info img{
    margin-top: 40px;
}
article.form_side{
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
article.form_side form{
    display: flex;
    flex-direction: column;
    height: 372px;
}
article.form_side form label{
    color: var(--blue-color);
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    margin-top: 4px;
}
input#username, input#useremail{
    border: none;
    border-bottom: 1px solid #A5A5A5;
    margin-top: 42px;
}
article.form_side div.agreement{
    margin-top: 30px;
    width: 440px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div.agreement_terms{
    display: flex;
    width: 440px;
    height: fit-content;
}
/* small.box{
    border: 1px solid #95989A;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: transparent url(../../assets/Checkmark.svg) 0% 0% no-repeat padding-box;
    background-position: center ;
} */
input.checkbox{
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}
article.form_side label.condition{
    color: #707070;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    margin-top: 0;
}
article.form_side button.submit{
    margin-top: 100px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    background-color: var(--blue-color);
    padding: 20px 97px;
    color: white;
    font-size: 13px;
    width: 226px;
    height: 57px;
    border: none;
    display: flex;
    margin-left: 214px;
}
/* Footer---------------------------------------------------------------------------- */
footer{
    height: 89px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px -5px 40px #00000029;
}
section.footer_section{
    width: 1354px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
section.footer_section div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.footer_section div h1{
    color: var(--blue-color);
    font-size: 26px;
    line-height: 30px;
    text-align: left;
}
footer small.footer{
    color: #A5A5A5;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
}
section.footer_section div:last-of-type{
    width: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 1000px){
    ul.all_header_list{
        display: none;
    }
    ul.header_list{
        height: 175px;
        width: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        position: absolute;
        left: 0;
        bottom: -170px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 25px;
    }
    ul.header_list li{
        height: 10px;
    }
    ul.header_list li a{
        height: 10px;
    }
    ul.header_list li a:hover{
       border-bottom: none;
    }
    img.menu{
        display: inline-block !important;
        width: 24px;
        height: auto;
    }


}